/* line 3, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItem.sass */
.PokemonItem {
  margin: 10px auto;
  padding: 10px; }
  /* line 6, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItem.sass */
  .PokemonItem .container {
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background-color: #b1dcff;
    padding: 10px;
    border: 3px solid #4cafff; }
    /* line 17, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItem.sass */
    .PokemonItem .container.selected {
      border-color: gold; }
    /* line 19, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItem.sass */
    .PokemonItem .container .pokemon-id {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
      vertical-align: top; }
    /* line 23, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItem.sass */
    .PokemonItem .container .pokemon-picture {
      position: absolute;
      left: 0;
      top: 0;
      width: 194px;
      height: 150px;
      background-color: rgba(255, 255, 255, 0.3);
      background-repeat: no-repeat;
      background-position: center center; }
    /* line 32, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItem.sass */
    .PokemonItem .container .pokemon-name {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      font-size: 20px; }
      /* line 38, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItem.sass */
      .PokemonItem .container .pokemon-name::first-letter {
        text-transform: capitalize; }

@charset "UTF-8";
/* line 1, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
.PokemonItemToolbar {
  position: absolute;
  right: 5px;
  top: 5px; }
  /* line 5, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
  .PokemonItemToolbar button {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    transition: opacity .2s ease-in; }
    /* line 13, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
    .PokemonItemToolbar button:focus {
      outline: none; }
  /* line 15, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
  .PokemonItemToolbar .favorite-btn {
    color: #333; }
  /* line 18, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
  .PokemonItemToolbar .caught-btn span {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 8px;
    margin-left: 3px; }

/* line 29, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
.PokemonItem .container:hover button,
.PokemonItem .container.favorite .favorite-btn,
.PokemonItem .container.caught .caught-btn {
  opacity: 1; }

/* line 33, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
.PokemonItem .container.favorite .favorite-btn {
  color: gold; }
  /* line 35, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
  .PokemonItem .container.favorite .favorite-btn span {
    position: relative; }
    /* line 37, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
    .PokemonItem .container.favorite .favorite-btn span::before {
      content: '☆';
      color: #333;
      position: absolute; }

/* line 41, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
.PokemonItem .container.caught .caught-btn span {
  background-color: #e83333; }
  /* line 43, /Users/fbarrailla/Dev/projets/pokedex/app/components/pokemon/PokemonItemToolbar.sass */
  .PokemonItem .container.caught .caught-btn span::before {
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 6px;
    background-color: white;
    bottom: 0;
    left: 0;
    border-radius: 0 0 7px 7px;
    z-index: 0; }

/* line 1, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
* {
  box-sizing: border-box; }

/* line 4, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
html {
  font-family: 'Fredoka One', cursive;
  background-color: #353d48;
  padding-top: 70px;
  color: #333; }

/* line 11, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
.AppScreen .header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 10;
  background-color: #ffffed;
  border-bottom: 1px solid white; }
  /* line 22, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
  .AppScreen .header h1 {
    margin: 0;
    font-size: 30px;
    line-height: 30px; }
  /* line 26, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
  .AppScreen .header .search-input, .AppScreen .header .clear-search-btn {
    height: 40px;
    font-family: inherit; }
    /* line 29, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
    .AppScreen .header .search-input:focus, .AppScreen .header .clear-search-btn:focus {
      outline: none; }
  /* line 31, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
  .AppScreen .header .search-input {
    width: 200px;
    margin-left: 20px;
    padding-left: 15px;
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
    /* line 38, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
    .AppScreen .header .search-input.filled {
      border-color: #7bc4ff; }
  /* line 40, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
  .AppScreen .header .clear-search-btn {
    width: 40px;
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    opacity: .6; }
  /* line 47, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
  .AppScreen .header .menu-links {
    position: absolute;
    right: 15px;
    top: 15px; }
    /* line 51, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
    .AppScreen .header .menu-links a {
      display: inline-block;
      padding: 10px 15px;
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
      /* line 58, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
      .AppScreen .header .menu-links a:focus {
        outline: none; }
      /* line 60, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
      .AppScreen .header .menu-links a + a {
        margin-left: 10px; }
      /* line 62, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/App.sass */
      .AppScreen .header .menu-links a.active {
        background-color: #4cafff;
        color: #000; }

/* line 3, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/PokemonDetails.sass */
.PokemonDetailsScreen {
  position: fixed;
  bottom: -200px;
  left: 0;
  right: 0;
  height: 200px;
  padding: 20px;
  background-color: #fff;
  transition: bottom .2s ease-in; }
  /* line 12, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/PokemonDetails.sass */
  .PokemonDetailsScreen .loader {
    margin: 20px auto; }
  /* line 14, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/PokemonDetails.sass */
  .PokemonDetailsScreen h1 {
    font-size: 25px; }
  /* line 16, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/PokemonDetails.sass */
  .PokemonDetailsScreen.visible {
    bottom: 0; }

/* line 3, /Users/fbarrailla/Dev/projets/pokedex/app/components/screens/Pokemons.sass */
.PokemonsScreen > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }


/*# sourceMappingURL=app.css.map*/