$border-width: 3px

.PokemonItem
  margin: 10px auto
  padding: 10px
  .container
    display: block
    color: inherit
    text-decoration: none
    position: relative
    width: 200px
    height: 200px
    border-radius: 4px
    background-color: #b1dcff
    padding: 10px
    border: $border-width solid #4cafff
    &.selected
      border-color: gold
    .pokemon-id
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
      font-size: 12px
      vertical-align: top
    .PokemonImage
      position: absolute
      left: 0
      top: 0
      width: 200px - ($border-width*2)
      background-color: rgba(255,255,255,.3)
    .PokemonName
      bottom: 0
